
    <section class="container">
        <h1>회원가입</h1>
        <form action="/register" method="POST">
            <label>
                <span>아이디</span>
                <input required name="userId" placeholder="아이디 4자 이상" minlength="4" type="text">
            </label>
            <label>
                <span>비밀번호</span>
                <input required name="password" placeholder="비밀번호 6자 이상" minlength="6" type="password">
            </label>
            <label>
                <span>비밀번호 확인</span>
                <input required name="password2" placeholder="비밀번호 6자 이상" minlength="6" type="password">
            </label>
            <ul>
                <li><a href="/login">로그인하러 가기</a></li>
            </ul>
            <input class="inputBtn" value="회원가입" type="submit">
        </form>
    </section>